
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Contenedor principal */
body > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea el header arriba y el footer abajo */
  min-height: 100vh; /* Para que ocupe el 100% del viewport */
}

/* Header */
header {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}